<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <meta charset="utf-8">
        <title>Hello Bro</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="sidenav">
            <img src="/images/gamewelbg.jpeg" height="100%" width="auto" style="position: absolute; opacity: 0.3; left: 0; top: 0;">
            <div class="ps-5 pb-4 game-main-text">
                <img src="/images/CryingFace.png">
                <h2 class="my-3">NOOB GAME<br>Welcome!</h2>
                <p>Xin chào con gà!</p>
             </div>
        </div>

        <div class="main">
            <div class="col-md-6 col-sm-12">
                <div class="player-form">
                    <form>
                        <div class="form-group">
                           <label>Room Id:</label>
                           <input type="text" class="my-3 form-control" placeholder="Đặt là phải nhớ :D">
                        </div>
                        <div class="form-group">
                           <label>Nickname:</label>
                           <input type="text" class="my-3 form-control" placeholder="Tên gì cũng được :D">
                        </div>
                        <div style="text-align: center; width: 100%;">
                            <button type="submit" class="btn btn-black">Chơi Thôi!</button>
                        </div>
                     </form>
                </div>
            </div>
        </div>

    </body>
</html>